body{font-family: "Market Sans", Arial, sans-serif;}
#signup{
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
}
#container2{
    width: 34%;
 height: 600px;
 /* border: 1px solid red; */
 margin: auto;
 margin-top:35px;
}
#notice2{
    width: 75%;
  height: 90px;
  background-color: blue;
  color: white;
  padding-right: 5%;
padding-top: 30px;
padding-bottom: 30px;
  padding-left: 20% ;
}
#notice2 a{
    color: #82187c;
   text-decoration: none; 
}
.align{
        text-align: center;

         }
         #select{
             margin: auto;
                margin-top: 10px;
                margin-bottom: 10px;
           padding-left:15%
           
           
            }
         .texts{
             font-size: xx-large;
             font-weight: bold;
             padding-bottom: 20px;
             margin-top: 30px;
            }
            #firstname{
                padding: 2%;
           height: 20px;
           border-radius: 7px;
           width: 42%;
           margin:20px 0px;
           border: 1px solid #949494;
           color: #111820;
           font-size: 1em;
           font-weight: 300;
            margin-right: 30px;
            }
            #firstname::placeholder{color: #111820;}
            #lastname{
                padding: 2%;
           height: 20px;
           border-radius: 7px;
           width: 40%;
           margin:20px 0px;
           border: 1px solid #949494;
           color: #111820;
           font-size: 1em;
           font-weight: 300;
           /* padding-right: 20px; */
            }
            #lastname::placeholder{color: #111820;}

            #email{
                width: 95%;
                padding: 2%;
           height: 20px;
           border-radius: 7px;
           width: 95%;
           margin:20px 0px;
           border: 1px solid #949494;
           color: #111820;
           font-size: 1em;
           font-weight: 300;
            }
            #email::placeholder{color: #111820;}
            #password{
                width: 95%;
                padding: 2%;
           height: 20px;
           border-radius: 7px;
           width: 95%;
           margin:20px 0px;
           border: 1px solid #949494;
           color: blue;
           font-size: 1em;
           font-weight: 300;
            }
            #password::placeholder{
                color: #111820;
            }
            #conditions{
                color: #767676;
                font-size: 11px;
                text-align: center;
            }
            #register{
                color: #767676;
                font-size: 12px; 
                font-weight: bold;
                
            }
            .button{
                height: 50px;
           border-radius: 25px;
           width: 100%;
           background-color: #bdbbbb;
           color: white;
   margin-top: 20px;
           font-size: 20px;
           border: 0px;
           margin-bottom: 30px;
       
                  }
                  .button:hover{
                      background-color: blue;
                  }
                  .border{
            margin-top: 50px;
            
            border-top: solid 1px #949494;
           }
           #copyright{
                
                margin: auto;
               margin: top 200px;
                font-size: 11px;
                width: 70%;
                     margin-bottom: 0px;
                     margin-top: 50px;
                    
            }
            #copyright a{
                color: #707070;
            }
            #copyright img{ margin-top: 2px;
         
                width: 12px;
            height: 12px;}
            #nortondns{
             
                width: 80px;
                height: 50px;}
      @media only screen and (min-width:899px) and  (max-width:1150px){
          #container2{
          height: 700px;
          }
          #notice2{
              height: 150px;
          }
          #firstname{
              width: 30%;
          }
          #lastname{
              width:28%
          }
      }
      @media only screen and (min-width:624px) and  (max-width:899px){
         #container2{
        height: 750px;
        }
        #notice2{
            height: 200px;
        }
        #firstname{
            width: 25%;
        }
        #firstname::placeholder{font-size: 12px;}
        #lastname{
            width:25%;
        }
        #lastname::placeholder{font-size: 12px;}
        #email::placeholder{font-size:12px;}
        #password::placeholder{
            font-size: 12px;
        }
    }
    @media only screen and (min-width:396px) and  (max-width:624px){
        #container2{
            height: 900px;
            }
            #notice2{
                height: 350px;
            }
    }