body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: rgb(247, 247, 247);
}
#products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 8;
  gap: 20px;
}
#product-card {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 2%;
}
#product-card > img {
  border-radius: 10px;
}
#product-card > button {
  border: 0;
  background-color: blue;
  color: white;
  font-size: 13px;
  /* font-weight: bold; */
  padding: 3px 5px;
}
#prod-categories {
  flex: 2;
}
#prod-categories > ul {
  list-style: none;
}
#prod-categories > ul > li {
  cursor: pointer;
}
